{# def request #}

<nav
  class="flex h-[var(--nav-height)] w-full items-center justify-between bg-sky-600 px-5">
  <p>
    <strong
      ><a class="text-white" href="{{ request.url_for('textbooks') }}"
        >Generative Textbook Authoring: Home</a
      >
    </strong>
  </p>
  <ul>
    <li>
      <a class="text-white" href="https://github.com/kalendar/quickbeam"
        >Get Involved <i class="fa-brands fa-github"></i
      ></a>
    </li>
  </ul>
</nav>
