{# def request #}

<nav
  class="flex h-[var(--nav-height)] w-full items-center justify-between bg-slate-600 px-5">
  <p><a class="text-white" href="{{ request.url_for('textbooks') }}"
  >OELM Author</a
  ></p>
  <ul>
    <li>
      <a class="text-white" href=""
        >Docs</a
      >
    </li>
  </ul>
</nav>
