{% extends "base.jinja" %}

{% block title %}
  Create Textbook
{% endblock %}

{% block body %}
  <div class="w-full mt-10 mb-20">
    <form.Activity
      :hx-post="request.url_for('create_activity_post')"
      :textbook_ident="textbook_ident"
      :topics="topics"
      submission-text="Create Activity"
      class="mx-auto" />
  </div>
{% endblock %}
