{# def textbook_ident, modules, submission_text="Submit", activity=None #}
<form
  action=""
  hx-ext="json-enc"
  {{ attrs.render(class="flex w-[65ch] gap-5 flex-col") }}>
  <div>
    <label for="name">Name: </label>
    <br />
    <form.TextInput
      name="name"
      id="name"
      required
      :value="{{ activity.name if activity }}"
      placeholder="My Activity" />
  </div>
  <input
    type="number"
    name="textbook_id"
    id="name"
    required
    hidden
    value="{{ textbook_ident }}" />
  <div>
    <label for="outcomes">Outcomes: </label>
    <br />
    <form.TextArea
      name="outcomes"
      id="outcomes"
      rows="10"
      required
      :text="activity.outcomes if activity else ''" />
  </div>
  <div>
    <label for="summary">Summary: </label>
    <br />
    <form.TextArea
      name="summary"
      id="summary"
      rows="10"
      required
      :text="activity.summary if activity else ''" />
  </div>
  <div>
    <label for="Modules">Modules: </label>
    <br />
    <select
      name="module_ids"
      id="module_ids"
      multiple
      class="w-full overflow-y-auto rounded border border-b-blue-950 bg-gray-50 p-2">
      <option value="-1" hidden selected="true">force property</option>
      {% for module in modules %}
        <option
          value="{{ module.id }}"
          class="px-2 focus:bg-gray-100"
          {{ 'selected' if activity and module in activity.modules }}>
          {{ module.name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <input
    type="submit"
    value="{{ submission_text }}"
    class="rounded border-2 border-sky-500 bg-sky-400 px-2 py-1 text-white transition duration-100 hover:bg-sky-500" />
</form>
