{# def textbook_ident, submission_text="Submit", module=None #}
<form
  action=""
  hx-ext="json-enc"
  {{ attrs.render(class="flex w-[65ch] gap-5 flex-col") }}>
  <div>
    <label for="name">Name: </label>
    <br />
    <form.TextInput
      name="name"
      id="name"
      required
      :value="{{ module.name if module }}"
      placeholder="My Module" />
  </div>
  <input
    type="number"
    name="textbook_id"
    id="name"
    required
    hidden
    value="{{ textbook_ident }}" />
  <div>
    <label for="outcomes">Outcomes: </label>
    <br />
    <form.TextArea
      name="outcomes"
      id="outcomes"
      required
      :text="module.outcomes if module else ''" />
  </div>
  <div>
    <label for="summary">Summary: </label>
    <br />
    <form.TextArea
      name="summary"
      id="summary"
      required
      :text="module.summary if module else ''" />
  </div>
  <input
    type="submit"
    value="{{ submission_text }}"
    class="rounded border-2 border-sky-500 bg-sky-600 px-2 py-1 text-white transition duration-100 hover:bg-sky-500" />
</form>
