{% extends "base.jinja" %}

{% block title %}
  Update Textbook
{% endblock %}

{% block body %}
  <div class="mt-10 mb-20 w-full">
    <form.Activity
      :hx-post="request.url_for('update_activity_post', ident=activity.guid)"
      :textbook_ident="textbook_ident"
      :activity="activity"
      :topics="topics"
      submission-text="Update Activity"
      class="mx-auto" />
  </div>
{% endblock %}
