{% extends "base.jinja" %}

{% block title %}
  Update Textbook
{% endblock %}

{% block body %}
  <div class="w-full">
    <form.Textbook
      :hx-post="request.url_for('update_textbook_post', ident=textbook.id)"
      :textbook="textbook"
      submission-text="Update Textbook"
      class="mx-auto" />
  </div>
{% endblock %}
