{% extends "base.jinja" %}

{% block title %}
  Update Textbook
{% endblock %}

{% block body %}
  <div class="w-full mt-10 mb-20">
    <form.Topic
      :hx-post="request.url_for('update_topic_post', ident=topic.guid)"
      :topic="topic"
      :textbook_ident="textbook_ident"
      submission-text="Update Topic"
      class="mx-auto" />
  </div>
{% endblock %}
