{# def text, color="blue" #}

<a
  {{ attrs.render() }}
  {% if color == 'green' %}
    class="rounded border-2 border-green-700 bg-green-700 px-2 py-1 text-white
    transition duration-100 hover:bg-green-400 fa-solid fa-plus"
  {% elif color == 'blue' %}
    class="rounded border-2 border-blue-400 bg-blue-400 px-2 py-1 text-white
    transition duration-100 hover:bg-sky-500 fa-solid fa-pen-to-square"
  {% elif color == 'red' %}
    class="rounded border-2 border-red-400 bg-red-400  px-2 py-1 text-white
    transition duration-100 hover:bg-red-600 fa-solid fa-trash"

  {% endif %}
  >
  
  {{ text }}</a
>
