{# def #}

<button
  type="button"
  onclick="window.history.back();"
  class="rounded border-2 border-gray-600 bg-gray-600 px-2 py-1 text-white transition duration-100 hover:bg-gray-500">
  {{ content if content else "Cancel" }}
</button>
