{# def #}

<span class="group relative inline-block">
  <i class="fa-solid fa-circle-info text-sky-600"></i>
  <span
    class="absolute top-full left-0 z-10 mt-2 hidden w-100 max-w-xs rounded bg-gray-800 px-2 py-1 text-xs text-white group-hover:block">
    {{ content }}
  </span>
</span>
